<div class="subscriptions__modal">
  <h6 class="subscriptions__modal-heading">Hurrah!</h6>
  <div class="subscriptions__modal-caption">Your subscription preferences have been succesfully saved</div>
  <div class="subscriptions__modal-counter subscriptions__modal-counter_remove js-subscriptions-difference-remove">-0%</div>
  <div class="subscriptions__modal-subcaption">fun lost :(</div>
  <button type="submit" class="subscriptions__modal-btn btn-base js-modal-hide" data-submit="unsubscribed">Ok, great!</button>
</div>