<div class="subscribe-panel">
  <div class="subscribe-panel__heading">How much fun do you want in your life?</div>
  <div class="subscribe-panel__email">harry.simon@yahoo.com</div>
  <div class="subscribe-panel__title">Fun you get</div>
  <div class="subscribe-panel__progress">
    <div class="subscribe-panel__progress-bar">
      <div class="subscribe-panel__progress-scale" id="subscriptions-progress-scale"></div>
    </div>
    <div class="subscribe-panel__progress-counter" id="subscriptions-progress-counter">33%</div>
  </div>
  <div class="subscribe-panel__caption">
    <span class="subscribe-panel__selected">Subscribe</span> to all our fun sites to upgrade your fun progress
  </div>
</div>